# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.venv*/
.env
.env.*

# Editors/OS
.vscode/
.idea/
.DS_Store

# Terraform
.terraform/
.terraform.*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

#  tool output
.autodeploy/
tf/   
